/* defining commonly used colours: Lee Wee and Brothers RED and NYP BLUE */
:root {
    --lwab-red: #eb2428;
    --imperial-red: #EE4447;
    --nyp-blue: #0a428a;
    --rich-black: #111318;
    --gunmetal: #1F262A;
    --paynegray: #5F7481;
    --anti-flash-white: #F3F4F7;
}

/* adding Gothic_A1 font family */
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Light.ttf);
    font-weight: 300
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Satisfy;
    src: url(../fonts/Satisfy/Satisfy-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   
html {
    scroll-snap-type: y mandatory;
}
body {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    font-family: Gothic_A1, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    border-left: 1px solid var(--gunmetal);
    border-right: 1px solid var(--gunmetal);
    min-height: 100vh;
}

/* NAVBAR */
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid grey;
}
nav ul {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
nav li {
    height: 100%;
}
/* Uses selector equivalent to li:not(:first-child) */
nav li + li a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100px;
    text-decoration: none;
    color: var(--gunmetal);
    font-weight: 700;
    font-size: 12px;
}
nav a:hover {
    background-color: var(--anti-flash-white);
}
nav span {
    transform: translate(6px, 1px);
    transition: all linear 0.12s;
}
nav a:hover span {
    transform: translate(6px);
}
/* Growing line effect on hover */
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--imperial-red);
    transition: width linear 0.12s;
}
/* Extended line when hovering or active */
nav li + li a:hover::after, nav li + li .navlink-active::after {
    width: 80px;
}

/* Navbar Logo */
.navbar-logo {
    margin-right: auto;
}
.navbar-logo a {
    display: block;
    height: 100%;   
}
.navbar-logo img {
    height: 100%;
    padding: 10px;
    transform: translate(0, 1px);
    transition: transform linear 0.1s;
}
.navbar-logo a:hover img {
    transform: translate(0);
}
.navbar-logo a:hover::after,
.navbar-logo .navlink-active::after {
    width: 136px;
}
/* NAVBAR END */

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 1023px;
    background-color: var(--gunmetal);
}
footer p {
    color: white;
    font-weight: 300;
    font-size: 8px;
    text-align: center;
    padding: 2px;
}
.footer-padding {
    height: 12px;
}
/* FOOTER END */

/* HOME PAGE */
.homepage-hero-image {
    position: relative;
    overflow: hidden;
    height: 320px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}
.homepage-hero-image > img {
    width: 100%;
    filter: brightness(45%);
    animation: parallax-homepage linear;
    animation-timeline: scroll(root);
}
/* Parallax scrolling effect for hero image */
@keyframes parallax-homepage {
    from {
        transform: translateY(-120px)
    }
    to {
        transform: translateY(20px)
    }
}
.homepage-order-online img {
    position: absolute;
    width: 240px;
    top: 60px;
    left: 250px;
}
.homepage-order-online h1 {
    position: absolute;
    top: 80px;
    left: 500px;
    padding: 20px;
    color: var(--anti-flash-white);
}
.homepage-order-online a {
    position: absolute;
    top: 220px;
    left: 50%;
    font-size: 18px;
    transform: translateX(-50%);
}
.homepage-opening-promotion,
.homepage-register-now,
.homepage-learn-more {
    display: flex;
    width: 80%;
    height: 210px;
    margin: 0 auto 20px auto;
    animation: fade-zoom ease-in;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}
.homepage-opening-promotion {
    margin-top: 20px;   
}
@keyframes fade-zoom {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.homepage-opening-promotion-description,
.homepage-register-now-description,
.homepage-learn-more-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.homepage-opening-promotion-description h1,
.homepage-register-now-description h1,
.homepage-learn-more-description h1 {
    margin: 8px;
}
.homepage-opening-promotion-description p,
.homepage-register-now-description p,
.homepage-learn-more-description p {
    margin: 8px;
    font-size: 12px;
}
.homepage-opening-promotion-description a,
.homepage-register-now-description a,
.homepage-learn-more-description a {
    margin: 8px;
    font-size: 15px;
}
.homepage-opening-promotion-images,
.homepage-register-now-images,
.homepage-learn-more-images {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.homepage-opening-promotion-images img,
.homepage-register-now-images img,
.homepage-learn-more-images img {
    height: 100%;
}
.homepage-opening-promotion-description img {
    position: absolute;
    width: 42px;
    left: 10px;
    top: 0;
    filter: brightness(100%);
}
.homepage-action-button {
    text-decoration: none;
    background-color: var(--anti-flash-white);
    color: var(--gunmetal);
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 600;
    transition: all linear 0.1s;
}
.homepage-action-button:hover {
    background-color: var(--lwab-red);
    color: var(--anti-flash-white);
}
/* HOME PAGE END*/

/* MENU PAGE */
.menu-category-header {
    width: 70%;
    margin: 24px auto 18px auto;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.25);
    scroll-snap-align: start;
    scroll-margin-top: 54px;
}
.menu-category-header h1 {
    font-family: Satisfy;
    font-size: 30px;
    transform: translate(2px, -2px);
}
.menu-category-header p {
    font-size: 10px;
    font-weight: 500;
    color: var(--gunmetal);
}
.menu-items-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 18px auto 50px auto;
}
.menu-items-container:last-child {
    margin-bottom: 120px;
}
.menu-item {
    width: 30%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    text-decoration: none;
}
.menu-item-img-div {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-bottom: 1px solid lightgrey;
}   
.menu-item img {
    width: 100%;
    transition: transform 0.1s linear;
}
.menu-item:hover {
    box-shadow: 1px 1px 12px lightgrey;
}
.menu-item:hover img {
    transform: scale(1.05);
}
.menu-item-name {
    font-size: 14px;
    color: var(--gunmetal);
    font-weight: 700;
    margin: 10px;
}
.menu-item-description {
    height: 30px;
    font-size: 8px;
    color: darkgrey;
    font-weight: 500;
    margin: 10px;
}
.menu-item-price {
    margin: 10px;
}
.menu-item-price span:first-child {
    font-weight: 700;
    font-size: 22px;
    color: var(--gunmetal);
}
.menu-item-price span + span {
    font-size: 10px;
    color: var(--gunmetal);
}
/* MENU PAGE END */

/* ORDER PAGE */
form {
    width: 70%;
    margin: auto;
    font-size: 12px;
    padding: top 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
form legend {
    font-size: 14px;
    font-weight: 600;
    padding: 0 6px;
    color: #ad0003;
}
form fieldset {
    padding: 10px;
    border: 1px solid var(--gunmetal);
    border-radius: 4px;
}
.order-form-flex-container { /*Flexbox for Contact Details and Collection fieldset*/
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}
.collection-fieldset {
    display: flex;
}
.contact-details-fieldset {
    flex: 1;
}
.collection-fieldset {
    flex: 2;
    display: flex;
}
.collection-date, .dining-option {
    flex: 1;
    margin-top: 8px;
}

.form-input {
    position: relative;
    margin-bottom: 10px;
}
.form-input label {
    cursor: pointer;
}
.form-input img {
    height: 16px;
    padding-right: 3px;
}
.form-input span {
    position: absolute;
    cursor: text;
    top: 4px;
    left: 26px;
    font-size: 6px;
    color: darkslategrey;
}
.form-input input {
    font-size: 8px;
    font-weight: 500;
    color: var(--gunmetal);
    height: 28px;
    padding: 8px 2px 0 2px;
}
.form-input input[name="name"] {
    width: 160px;
}
.form-input input[name="phoneNumber"], .collection-date input[type="time"]{
    width: 80px;
}
/* Dine In Option */
label[for="collectionDate"], .dining-option p {
    display: block;
    margin-bottom: 6px;
    cursor: pointer;
}
.dining-option label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 80px;
    transition: all linear 0.1s;
}
.dining-option label span {
    position: absolute;
    bottom: 0;
    left: 28px;
    color: var(--paynegray);
    font-weight: 600;
}
.dining-option input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
label[for="dineIn"] {
    background: url(../images/Icons/icons8-restaurant-96-unselected.png) no-repeat;
    background-size: contain;
}
label[for="dineIn"]:hover {
    background: url(../images/Icons/icons8-restaurant-96-hovered.png) no-repeat;
    background-size: contain;
}
input[value="dineIn"]:checked + label {
    background: url(../images/Icons/icons8-restaurant-96-selected.png) no-repeat;
    background-size: contain;
}
label[for="takeaway"] {
    background: url(../images/Icons/icons8-take-away-food-96-unselected.png) no-repeat;
    background-size: contain;
}
label[for="takeaway"]:hover {
    background: url(../images/Icons/icons8-take-away-food-96-hovered.png) no-repeat;
    background-size: contain;
}
input[value="takeaway"]:checked + label {
    background: url(../images/Icons/icons8-take-away-food-96-selected.png) no-repeat;
    background-size: contain;
}
.dining-option input:checked + label span {
    color: var(--gunmetal);
}
.dining-option label:hover {
    transform: translate(0, -1px);
}
/* Order Fieldset */
.order-category-header {
    width: 80%;
    padding: 1px 8px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.25);
    margin: 20px auto 10px auto;
    font-family: Satisfy;
    font-size: 20px;
}
.order-category-header:first-of-type {
    margin-top: 8px;
}
.order-items-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.order-item {
    width: 30%;
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
}
.order-item label {
    cursor: pointer;
}
.order-item-img-div {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-bottom: 1px solid lightgrey;
}
.order-item img {
    width: 100%;
    transition: transform 0.1s linear;
}
.order-item:hover {
    box-shadow: 1px 1px 12px lightgrey;
}
.order-item:hover img {
    transform: scale(1.05);
}
.order-item-name {
    font-size: 10px;
    color: var(--gunmetal);
    font-weight: 700;
    margin: 8px;
}
.order-item-price {
    margin: 8px;
}
.order-item-price span:first-child {
    font-weight: 700;
    font-size: 16px;
    color: var(--gunmetal);
}
.order-item-price span + span {
    font-size: 8px;
    color: var(--gunmetal);
}
.order-item input[type="number"] {
    width: 38px;
    position: absolute;
    bottom: 11px;
    right: 10px;
    font-weight: 700;
    color: #ad0003;
}
.order-special-payment-submit-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}
.special-requests {
    flex: 3;
}
.special-requests label, .payment-method label {
    display: block;
    margin-bottom: 6px;
    cursor: pointer;
}
.special-requests textarea {
    resize: none;
    font-family: Gothic_A1;
    font-size: 10px;
    padding: 2px;
}
.payment-method {
    flex: 1
}
.payment-method select {
    font-family: Gothic_A1;
    padding: 2px;
    width: 100px;
    font-size: 10px;
}
.order-special-payment-submit-container button[type="submit"] {
    height: 50px;
    flex: 1;
    align-self: center;
    color: var(--anti-flash-white);
    background-color: var(--imperial-red);
    cursor: pointer;
    border: 1px grey;
    border-radius: 3px;
    font-weight: 600;
    transition: box-shadow linear 0.1s;
}
button[type="submit"]:hover {
    box-shadow: 1px 1px 12px lightgrey;
}

/* REGISTRATION PAGE */
.registration-form {
    width: 44%;
}
.form-input input[name="email"], .form-input input[name="loginID"], .form-input input[name="password"] {
    width: 160px;
}
.form-input input[name="homeAddress"] {
    width: 340px;
}
.form-input input[name="favouriteFood"] {
    width: 180px;
}
.form-input input[name="postalCode"] {
    width: 60px;
}
/* Gender */
.gender-option label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 70px;
    transition: all linear 0.1s;
    margin-top: -4px;
    margin-bottom: 2px;
}
.gender-option label span {
    position: absolute;
    bottom: 0;
    left: 28px;
    color: var(--paynegray);
    font-weight: 600;
}
.gender-option input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.gender-option label:first-of-type {
    margin-left: 20px;
}
label[for="male"] {
    background: url(../images/Icons/icons8-male-96-unselected.png) no-repeat;
    background-size: contain;
}
label[for="male"]:hover {
    background: url(../images/Icons/icons8-male-96-hovered.png) no-repeat;
    background-size: contain;
}
input[value="male"]:checked + label {
    background: url(../images/Icons/icons8-male-96-selected.png) no-repeat;
    background-size: contain;
}
label[for="female"] {
    background: url(../images/Icons/icons8-female-96-unselected.png) no-repeat;
    background-size: contain;
}
label[for="female"]:hover {
    background: url(../images/Icons/icons8-female-96-hovered.png) no-repeat;
    background-size: contain;
}
input[value="female"]:checked + label {
    background: url(../images/Icons/icons8-female-96-selected.png) no-repeat;
    background-size: contain;
}
.gender-option input:checked + label span {
    color: var(--gunmetal);
}
.gender-option label:hover {
    transform: translate(0, -1px);
}
label[for="postalCode"] span {
    left: 369px;
}
.personal-details-fieldset {
    margin-bottom: 16px;
}
.account-details-fieldset button[type="submit"] {
    color: var(--anti-flash-white);
    background-color: var(--imperial-red);
    margin-left: 22px;
    padding: 8px 14px;
    cursor: pointer;
    border: 1px grey;
    border-radius: 3px;
    font-weight: 600;
    transition: box-shadow linear 0.1s;
}
/* REGISTRATION PAGE END */

/* ABOUT US PAGE */
.about-hero-image {
    position: relative;
    overflow: hidden;
    height: 180px;
    border-bottom: 1px solid grey;
    margin-bottom: 14px;
}
.about-hero-image img {
    width: 100%;
    filter: brightness(50%);
    animation: parallax-about linear;
    animation-timeline: scroll(root);
}
.about-hero-image h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 60px;
    color: var(--anti-flash-white); 
}
/* Parallax scrolling effect for hero image */
@keyframes parallax-about {
    from {
        transform: translateY(-120px)
    }
    to {
        transform: translateY(100px)
    }
}
.our-history,
.lee-wee-difference,
.our-philosophy,
.address-contact-details {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 60%;
    margin: 0 auto 20px auto;
    border-radius: 3px;
    box-shadow: 1px 1px 12px lightgrey;
    background-color: var(--anti-flash-white);
    padding: 14px;
    animation: fade-zoom ease-in;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}
.our-history h2,
.lee-wee-difference h2,
.our-philosophy h2 {
    color: #ad0003;
    font-family: Satisfy;
    font-size: 32px;
}
.our-history h3,
.lee-wee-difference h3,
.our-philosophy h3 {
    font-size: 14px;
    margin: 10px 0 2px 0;
    color: var(--rich-black)
}
.our-history-description p,
.lee-wee-difference-description p,
.our-philosophy-description p {
    font-size: 9px;
    font-weight: 500;
    color: var(--gunmetal)
}
.our-history img,
.lee-wee-difference img {
    width: 210px;
    height: 100%;
    border-radius: 3px;
}
.our-philosophy-images {
    display: flex;
    gap: 10px;
}
.our-philosophy-images img {
    width: 100px;
    flex: 1;
}
.address-contact-details-description img {
    height: 18px;
    padding-right: 3px;
    transform: translateY(5px);
}
.address-contact-details-description span, .address-contact-details-description a {
    font-size: 12px;
    text-decoration: none;
    color: inherit;
}
.address-contact-details-description a {
    display: inline-block;
    transition: color linear 0.15s;
}
.address-contact-details-description a:hover {
    color: #ad0003;
}
.address-contact-details-description span {
    margin-left: -1px;
}
.address-contact-details iframe {
    font-size: 10px;
}
/* ABOUT US PAGE END */
