/* defining commonly used colours: Lee Wee and Brothers RED and NYP BLUE */
:root {
    --lwab-red: #eb2428;
    --imperial-red: #EE4447;
    --nyp-blue: #0a428a;
    --rich-black: #111318;
    --charcoal: #30384A;
    --gunmetal: #2A2F3C;
    --anti-flash-white: #F3F4F7;
}

/* adding Gothic_A1 font family */
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Light.ttf);
    font-weight: 300
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Satisfy;
    src: url(../fonts/Satisfy/Satisfy-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-snap-type: y mandatory;
}
body {
    width: 1024px;
    margin: 0 auto;
    box-sizing: content-box;
    font-family: Gothic_A1, Arial, Helvetica, sans-serif;
    background: url(../images/seamless-white-interlaced-rounded-arc-patterned-background/v880-kul-11.jpg);
    background-size: 120px;
    overflow-x: hidden;
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid grey;
    z-index: 1;
}
.navlinks-flex-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

/* Navbar Logo */
.navlinks-flex-container li:first-child {
    margin-right: auto;
}
.navlinks-flex-container li:first-child a {
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.navlinks-flex-container img {
    height: 100%;
    padding: 10px;
    transition: all ease-out 0.1s;
}
.navlinks-flex-container img:hover {
    transform: scale(1.04)
}

.navlinks-flex-container li:not(:first-child) a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100px;
    text-decoration: none;
    color: var(--gunmetal);
    font-weight: 700;
    font-size: 12px;
}
.navlinks-flex-container a:hover {
    background-color: var(--anti-flash-white);
}
.navlinks-flex-container li:not(:first-child) a span {
    transform: translate(6px, 1px);
    transition: all linear 0.15s;
}
.navlinks-flex-container li:not(:first-child) a:hover span {
    transform: translate(6px);
}
.navlinks-flex-container li:not(:first-child) a::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--imperial-red);
    transition: all linear 0.1s;
}
#active-page-navlink a::after{
    width: 80px;
}
.navlinks-flex-container li:not(:first-child) a:hover::after {
    width: 80px;
}

/* Home Page */
.hero-image {
    position: relative;
    height: 200px;
    background: url(../images/storefront_placeholder.heic);
    background-size: cover;
    background-position-y: -130px;
}
.hero-image h1 {
    position: absolute;
    top: px;
    left: 40px;
    bottom: 40px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px black;
}

/* Menu Page */
.menu-header {
    width: 70%;
    margin: 24px auto 18px auto;
    border: 1px solid grey;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 10px;
    scroll-snap-align: start;
    scroll-margin-top: 64px;
}
.menu-header h1 {
    font-family: Satisfy;
    font-size: 30px;
    padding-bottom: 2px;
}
.menu-header p {
    font-size: 10px;
    font-weight: 500;
}
.menu-flex-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 18px auto 50px auto;
}
.menu-flex-item {
    width: 30%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
}
.menu-flex-item img {
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
.menu-item-name {
    font-size: 14px;
    color: var(--charcoal);
    font-weight: 700;
    margin: 4px 10px 8px 10px;
}
.menu-item-description {
    height:36px;
    font-size: 8px;
    color: darkgrey;
    font-weight: 500;
    margin: 8px 10px;
}
.menu-item-price {
    margin: 8px 10px;
}
.menu-item-price span:first-child {
    font-weight: 700;
    font-size: 22px;
    color: var(--charcoal);
}
.menu-item-price span:not(:first-child) {
    font-size: 10px;
    color: var(--gunmetal);
}
