/* defining commonly used colours: Lee Wee and Brothers RED and NYP BLUE */
:root {
    --lwab-red: #eb2428;
    --imperial-red: #EE4447;
    --nyp-blue: #0a428a;
    --rich-black: #111318;
    --gunmetal: #1F262A;
    --paynegray: #4E5F6A;
    --anti-flash-white: #F3F4F7;
}

/* adding Gothic_A1 font family */
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Light.ttf);
    font-weight: 300
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Gothic_A1;
    src: url(../fonts/Gothic_A1/GothicA1-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Satisfy;
    src: url(../fonts/Satisfy/Satisfy-Regular.ttf);
}
@font-face {
    font-family: Soviet-Style;
    src: url(../fonts/Soviet_Style/soviet\ style.ttf)
}
@font-face {
    font-family: Soviet-Style;
    src: url(../fonts/Soviet_Style/soviet\ style\ italic.ttf);
    font-style: italic;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   
html {
    scroll-snap-type: y mandatory;
    zoom: 250%;
}
body {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    font-family: Gothic_A1, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.tesselated-background {
    background: url(../images/website_background_tesellation.jpg);
    background-size: 140px;
}
/* NAVBAR */
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid grey;
}
nav ul {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
nav li {
    height: 100%;
}
/* Uses selector equivalent to li:not(:first-child) */
nav li + li a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100px;
    text-decoration: none;
    color: var(--gunmetal);
    font-weight: 700;
    font-size: 12px;
}
nav a:hover {
    background-color: var(--anti-flash-white);
}
nav span {
    transform: translate(6px, 1px);
    transition: all linear 0.12s;
}
nav a:hover span {
    transform: translate(6px);
}
/* Growing line effect on hover */
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--imperial-red);
    transition: width linear 0.12s;
}
/* Extended line when hovering or active */
nav li + li a:hover::after, nav li + li .navlink-active::after {
    width: 80px;
}

/* Navbar Logo */
.navbar-logo {
    margin-right: auto;
}
.navbar-logo a {
    display: block;
    height: 100%;   
}
.navbar-logo img {
    height: 100%;
    padding: 10px;
    transform: translate(0, 1px);
    transition: transform linear 0.1s;
}
.navbar-logo a:hover img {
    transform: translate(0);
}
.navbar-logo a:hover::after, .navbar-logo .navlink-active::after {
    width: 136px;
}
/* NAVBAR END */

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 1024px;
    background-color: var(--gunmetal);
}
footer p {
    color: white;
    font-weight: 300;
    font-size: 6px;
    text-align: center;
    padding: 2px;
}
/* FOOTER END */

/* HOME PAGE */
.homepage-hero-image {
    position: relative;
    overflow: hidden;
    height: 320px;
}
.homepage-hero-image > img {
    position: absolute;
    top: -120px;
    width: 100%;
    filter: brightness(45%);
}
.homepage-order-online img {
    position: absolute;
    width: 240px;
    top: 60px;
    left: 250px;
}
.homepage-order-online h1 {
    position: absolute;
    top: 80px;
    left: 500px;
    padding: 20px;
    color: var(--anti-flash-white);
}
.homepage-order-online a {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    background-color: var(--anti-flash-white);
    color: var(--gunmetal);
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 12px;
    transition: all linear 0.1s;
}
.homepage-order-online a:hover {
    background-color: var(--lwab-red);
    color: var(--anti-flash-white);
}
.homepage-hero-image > * {
    animation: parallax linear;
    animation-timeline: scroll();
}
@keyframes parallax {
    to {
        transform: translateY(-200px)
    }
}

/* HOME PAGE END*/

/* MENU PAGE */
.menu-category-header {
    width: 70%;
    margin: 24px auto 18px auto;
    padding: 10px;
    border: 1px solid grey;
    background-color: rgba(128, 128, 128, 0.25);
    scroll-snap-align: start;
    scroll-margin-top: 54px;
}   
.menu-category-header h1 {
    font-family: Satisfy;
    font-size: 30px;
    transform: translate(2px, -2px)
}
.menu-category-header p {
    font-size: 10px;
    font-weight: 500;
}
.menu-items-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 18px auto 50px auto;
}
.menu-item {
    width: 30%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    text-decoration: none;
}
.menu-item-img-div {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-bottom: 1px solid lightgrey;
}   
.menu-item img {
    width: 100%;
    transition: transform 0.1s linear;
}
.menu-item:hover {
    box-shadow: 1px 1px 12px lightgrey;
}
.menu-item:hover img {
    transform: scale(1.05);
}
.menu-item-name {
    font-size: 14px;
    color: var(--gunmetal);
    font-weight: 700;
    margin: 10px;
}
.menu-item-description {
    height: 30px;
    font-size: 8px;
    color: darkgrey;
    font-weight: 500;
    margin: 10px;
}
.menu-item-price {
    margin: 10px;
}
.menu-item-price span:first-child {
    font-weight: 700;
    font-size: 22px;
    color: var(--gunmetal);
}
.menu-item-price span + span {
    font-size: 10px;
    color: var(--gunmetal);
}
/* MENU PAGE END */

/* ORDER PAGE */
form {
    width: 70%;
    margin: auto;
    font-size: 12px;
    padding: top 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
form legend {
    font-size: 14px;
    font-weight: 600;
    padding: 0 6px;
}
form fieldset {
    padding: 10px;
    border: 1px solid var(--gunmetal);
    border-radius: 4px;
}
.order-form-flex-container { /*Flexbox for Contact Details and Collection fieldset*/
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.collection-fieldset {
    display: flex;
}
.contact-details-fieldset {
    flex: 1;
}
.collection-fieldset {
    flex: 2;
    display: flex;
}
.collection-date, .dining-option {
    flex: 1;
    margin-top: 8px;
}

.order-form-input {
    position: relative;
    margin-bottom: 10px;
}
.order-form-input label {
    cursor: pointer;
}
.order-form-input img {
    height: 16px;
    padding-right: 3px;
}
.order-form-input span {
    position: absolute;
    cursor: text;
    top: 4px;
    left: 26px;
    font-size: 6px;
    color: darkslategrey;
}
.order-form-input input {
    font-size: 8px;
    font-weight: 500;
    color: var(--gunmetal);
    height: 28px;
    padding: 8px 2px 0 2px;
}
.order-form-input input[name="name"] {
    width: 160px;
}
.order-form-input input[name="phoneNumber"] {
    width: 70px;
}
.collection-date input[type="time"]{
    width: 80px;
}
label[for="collectionDate"], .dining-option p {
    display: block;
    margin-bottom: 6px;
}
.dining-option label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 80px;
    transition: all linear 0.1s;
}
.dining-option label span {
    position: absolute;
    bottom: 0;
    left: 28px;
    color: var(--paynegray);
    font-weight: 600;
}
.dining-option input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
/* Dine In Option */
label[for="dineIn"] {
    background: url(../images/Icons/icons8-restaurant-96-unselected.png) no-repeat;
    background-size: contain;
}
label[for="dineIn"]:hover, input[value="dineIn"]:checked + label {
    background: url(../images/Icons/icons8-restaurant-96-selected.png) no-repeat;
    background-size: contain;
}
label[for="takeaway"] {
    background: url(../images/Icons/icons8-take-away-food-96-unselected.png) no-repeat;
    background-size: contain;
}
label[for="takeaway"]:hover, input[value="takeaway"]:checked + label {
    background: url(../images/Icons/icons8-take-away-food-96-selected.png) no-repeat;
    background-size: contain;
}

.dining-option input:checked + label span {
    color: var(--gunmetal);
}
.dining-option label:hover {
    transform: translate(0, -1px);
}
/* Order Fieldset */
.order-category-header {
    width: 80%;
    margin: 0 auto;
    font-family: Satisfy;
    font-size: 20px;
}
.order-items-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.order-item {
    width: 30%;
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
}
.order-item label {
    cursor: pointer;
}
.order-item-img-div {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-bottom: 1px solid lightgrey;
}
.order-item img {
    width: 100%;
    transition: transform 0.1s linear;
}
.order-item:hover {
    box-shadow: 1px 1px 12px lightgrey;
}
.order-item:hover img {
    transform: scale(1.05);
}
.order-item-name {
    font-size: 10px;
    color: var(--gunmetal);
    font-weight: 700;
    margin: 8px;
}
.order-item-price {
    margin: 8px;
}
.order-item-price span:first-child {
    font-weight: 700;
    font-size: 16px;
    color: var(--gunmetal);
}
.order-item-price span + span {
    font-size: 8px;
    color: var(--gunmetal);
}
.order-item input[type="number"] {
    width: 38px;
    position: absolute;
    bottom: 11px;
    right: 10px;
}
form button[type="submit"] {
    width: 100%;
}

/* REGISTRATION PAGE */
/* REGISTRATION PAGE END */

/* ABOUT US PAGE */
/* ABOUT US PAGE END */
